@font-face
{
    font-family: BigCarlson;
    src: url(BigCaslon.ttf);
    font-weight: normal;
}

body
{
  font-family: BigCarlson;
  color: black;
  background-color: #fff6ea
}

div#header-fixed
{
  position:fixed;
  top:0px;
  margin:auto;
  z-index:100000;
  width:100%;
}

div#header
{
  background:#000;
  height:72px;
  opacity:0.8;
}
